.add_property {
    background-color: white;
    height: 240vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
}

.add_property > h1 {
    display: flex;
    font-weight: 500;
    margin-bottom: 20px;
  }

.add_property > form > h5 {
    display: flex;
    margin-bottom: 5px;
}

.add_property > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
 }

 .submitButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
  }